aside.sidebar
  .sidebar__wrapper.flexbox__container.flexbox__direction--column.flexbox__wrap--wrap.flexbox__align-items--flex-start
    .logo
      img.logo__image(src='./assets/images/common/logo/agl-logo@2x.png', alt='AGL')
    .box__btn
      +AGLButton("サポートサイト", "button", "dashboard", 'full')
    +AGLNavigation(nav)
