// _grid.scss

// Grid variables
$grid-columns: 12;
$grid-gutter: 30px;
$max-width: 1240px;

// Breakpoints
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra-large: 1240px,
);

.grid {
  &__container {
    width: 100%;
    max-width: $max-width;
    padding-right: $grid-gutter / 2;
    padding-left: $grid-gutter / 2;
    margin: 0 auto;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-gap: $grid-gutter;
  }

  &__col {
    position: relative;
    width: 100%;
    padding-right: $grid-gutter / 2;
    padding-left: $grid-gutter / 2;
  }

  @each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
      &__container--#{$breakpoint} {
        max-width: $width;
      }

      &__row--#{$breakpoint} {
        grid-template-columns: repeat($grid-columns, 1fr);
      }

      &__col--#{$breakpoint} {
        width: 100%;
      }
    }
  }
}
